<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".core.app.QuixiconApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Quixicon">

        <receiver
            android:name=".background.receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".background.receivers.NotificationActionReceiver" android:enabled="true"/>

        <receiver android:name=".background.receivers.GetFlashcardReceiver" android:enabled="true"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>


        <activity
            android:name=".presentation.activities.start.views.StartActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".presentation.activities.collections.views.CollectionsActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="quixicon.page.link" android:scheme="https"/>
                <data android:host="en.quixicon.com" android:scheme="quixicon" />
                <data android:host="quixicon.com" android:scheme="quixicon" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activities.cards.views.CardsActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".presentation.activities.cards.views.CardsCopyActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".presentation.activities.cards.views.BookActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".presentation.activities.test.views.TestActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.editcard.views.EditCardActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.editcollection.views.EditCollectionActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.importcollection.views.ImportActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.settings.views.SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.help.views.HelpActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.collectionpreview.views.CollectionPreviewActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".presentation.activities.social.views.SocialActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

    </application>

</manifest>